<?xml version='1.0' encoding='utf-8'?>

<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

<name>PopBy</name>

<description>A basic PhoneGap app to keep up with friends.</description>

<author email="felt1_14@uni.worc.ac.uk">
Tyler Feld
</author>
<content src="index.html" />

<access origin="*" />
</widget>
